# Ignore everything
*

# Don't ignore directories, so we can re-include specific files
!*/

# Include specific files
!download.c
!download.h
!Makefile
!.gitignore
!switch.txt
!router.txt
!tuxY2.sh
!tuxY3.sh
!tuxY4.sh